<h2> <%= @recipe.chef %> </h2>
<h2> <%= @recipe.cuisine %> </h2>
<br/>
<%= button_to 'Delete Recipe', recipe_path(@recipe), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
<br />
<%= button_to 'Home', '/', method: :get %>
<br />
<%= button_to 'Edit Recipe', edit_recipe_path(@recipe), method: :get %>